<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/misc/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/static/misc/favicon.ico" type="image/x-icon"/>
    <meta property="og:title" content="E-Perpus" />
    <meta property="og:description" content="Anda dapat menikmati koleksi buku digital yang kaya dan beragam, mencakup berbagai genre, penulis terkenal, dan topik menarik." />
    <meta property="og:image" content="/static/misc/buku.jpg" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='user/style.css') }}">

    <title>About Us</title>
</head>


<body>
    {% if user_info %}
    {% if user_info.role == 'admin' %}
        {% include 'navbar_check/navbar_admin.html' %}
    {% elif user_info.role == 'member' %}
        {% include 'navbar_check/navbar_member.html' %}
    {% endif %}
{% else %}
    {% include 'navbar_check/navbar_viewer.html' %}
{% endif %}
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-light navbar shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand text-primary" href="/">E-Perpus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Buku</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="about_us.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" style="border-radius: 20px;"
                            class="btn btn-primary py-2 px-3">Masuk/Daftar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->


    <section class="about">
        <div class="container-fluid pt-5">
            <div class="container">
                <div class="clearfix pt-5">
                    <img src="{{ url_for('static', filename='assets/perpustakaan.jpg') }}" class="col-md-6 float-md-end crop-img px-5" width="300"
                        height="300" />
                    <h1>About Us</h1>
                    <p>
                        Welcome to e-Perpus, an innovative online library designed to meet your literacy and knowledge needs. 
                        e-Perpus serves as a bridge between readers and the world of knowledge by providing easy and fast access to a wide range of literary resources. 
                        At e-Perpus, you can enjoy a rich and diverse collection of digital books, covering various genres, famous authors, and interesting topics. 
                        With a user-friendly layout, we make it easy for you to browse and discover books that match your interests and needs.
                    </p>
                </div>

                <div class="tartib pt-5 pb-2" style="text-align: center;">
                    <div class="tartib-row">
                        <div class="tartib-col">
                            <h3>Rules</h3>
                            <p>
                            <ol style="text-align: left;">
                                <li>Operating Hours :
                                    <ul>
                                        <li>E-Perpus is open every day.</li>
                                        <li>Customer service is available during specific operating hours.</li>
                                    </ul>
                                </li>
                                <li>Membership :
                                    <ul>
                                        <li>All users are required to register and create an account to access e-perpus service</li>
                                        <li>Providing false information or engaging in fraudulent activites is permitted</li>
                                    </ul>
                                </li>
                                <li>Borrowing and Returning :
                                    <ul>
                                        <li>Digital book borrowing can be done using the prescribed borrowing system.</li>
                                        <li>Books must be returned within the set time limt</li>
                                    </ul>
                                </li>
                                <li>Late Fees :
                                    <ul>
                                        <li>Late book returns may incur fines according to the applicable rules.</li>
                                    </ul>
                                </li>
                                <li>Complaints :
                                    <ul>
                                        <li>Any complaints can be submitted through the provided complaint system.</li>
                                    </ul>
                                </li>
                            </ol>
                            </p>
                        </div>

                    </div>
                </div>





                <div class="fasilitas">
                    <h1 class="pb-2">Facilities</h1>
                    <div class="row">
                        <div class="fasilitas-col">
                            <img src="{{ url_for('static', filename='assets/ruang_baca.jpg') }}">
                            <div class="layer">
                                <h3>Reading Room</h3>
                            </div>
                        </div>
                        <div class="fasilitas-col">
                            <img src="{{ url_for('static', filename='assets/buku.jpg') }}">
                            <div class="layer">
                                <h3>Book Collection</h3>
                            </div>
                        </div>
                        <div class="fasilitas-col">
                            <img src="{{ url_for('static', filename='assets/rb.jpg') }}">
                            <div class="layer">
                                <h3>Hotspot Area</h3>
                            </div>
                        </div>
                    </div>
                </div>



            </div>




        </div>

    </section>
    {% include 'footer.html' %}
    <!-- <footer class="copyright">
        <div class="container py-2">
            <p class="text-center my-3">Copyright © by Kelompok 2</p>
        </div>
    </footer> -->
</body>

</html>